
<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>


<div id="contacts" class="container">
  <% @contacts.each do |contact| %>
    <div class="card contact">
        <div class="card-body">
          <%= render contact %>
        </div>
        <button type="button" class="btn btn-info show-contact">
          <%= link_to "View this contact", contact %>
        </button>
      </div>
  <% end %>
</div>
