@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&family=Quicksand:wght@300;400;700&family=Raleway:wght@200;300;400;500;700&family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  background: #121212;
  color: #fff;
  font-family: "Raleway";
}
a {
  text-decoration: none;
}

/* Contacts Index Page */
#contacts {
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  animation: slideUp 0.5s;
}
@keyframes slideUp {
  0% {
    transform: translateY(1200px);
  }
  100% {
    transform: translateX(0);
  }
}
#contacts .contact {
  font-family: "Roboto Condensed", sans-serif;
  width: 320px;
  height: 180px;
  transition: 0.33s;
}
#contacts .contact:hover {
  background: #ffffff40;
  color: #fff;
  transition: 0.33s;
  cursor: default;
}
#contacts .contact strong {
  font-family: "Raleway";
}
#contacts .card-body {
  overflow: scroll;
}
.contact .show-contact a {
  font-family: "Raleway";
  color: #efefef;
  text-decoration: none;
  letter-spacing: 2px;
}
.show-contact a:hover {
  color: #fff;
}

.form {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}
.form .form-row {
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.form-row .form-field {
  width: 200px;
}

.formSubmit {
  width: 240px;
  border-radius: 8px;
  background: #2196f325;
  color: #2196f3;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
}
.formSubmit:hover {
  color: #fff;
  background: #2196f375;
}
