body {
  background: #121212;
  color: #fff;
}

/* Contacts Index Page */
#contacts {
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}
#contacts .contact {
  width: 320px;
  height: 220px;
}
#contacts .card-body {
  overflow: scroll;
}

.contact .show-contact a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}
